.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: black;
  background-image:
    radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 20px),
    radial-gradient(white, rgba(255, 255, 255, .075) 2px, transparent 10px),
    radial-gradient(white, rgba(255, 255, 255, .05) 2px, transparent 20px),
    radial-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .1) 2px, transparent 10px);
  background-size: 500px 100px, 200px 80px, 150px 150px, 300px 300px;
}

.mainPoly {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  color: white;
  font-family: sans-serif;
  background-color: black;
  background-image:
    radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 20px),
    radial-gradient(white, rgba(255, 255, 255, .075) 2px, transparent 10px),
    radial-gradient(white, rgba(255, 255, 255, .05) 2px, transparent 20px),
    radial-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .1) 2px, transparent 10px);
  background-size: 500px 100px, 200px 80px, 150px 150px, 300px 300px;
}

.techImage {
  border-radius: 50%;
  transition: transform .3s;
}

.techImage:hover {
  transform: scale(2);
}

.techCont {
  padding: .1em;
  background-color: rgb(255, 254, 189);
  border-radius: 50%;
}

.polychromaticLink {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1em;
  background-color: white;
  padding: 1em;
  transition: transform .3s;

}

.polychromaticLink:hover {
  background-color: rgb(255, 254, 189);
  transform: scale(1.5);
}

.polyTable {
  background-color: rgb(255, 255, 255, 0.2);
  padding: 1em;
  border-radius: 10px;
}

.polyTableHead {
  padding: 1em 4em 1em 4em;
}

.polyButton {
  padding: 1em 3em 1em 3em;
  margin: 1em;
  background-color: white;
  border-radius: 10px;
  transition: transform .3s;
  border: none;
}

.polyButton:hover {
  background-color: rgb(255, 254, 189);
  transform: scale(1.1);
}

.polyMainImageCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: black;
  border-radius: 30px;
  margin: 2em 2em 5em 2em;
  color: white;
  animation-name: float;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  box-shadow: 0px 0px 10px 1px rgb(250, 255, 203);

}

@keyframes float {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 30px);
  }

  to {
    transform: translate(0, 0px);
  }
}


.polyMainImage {
  border-radius: 50%;
}

.polyHeader {
  padding-bottom: 1em;
}